.wrapper {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.bg-main-image {
  background-image: url("/starter-code/images/bg-header-desktop.png");
  width: 1439px;
  height: 363px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

.rectangle {
  width: 227px;
  height: 56px;
}

.heading > ul {
  display: flex;
  max-width: 470px;
  margin: auto;
}

header {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.keep_track div:nth-child(1) {
  margin-bottom: 80px;
}

.keep_track div:nth-child(2) {
  display: flex;
  margin-right: auto;
  width: 1212px;
  height: 572px;
}
.keeptrack_list {
  width: 350px;
  height: 406px;
}

.image-computer {
  width: 752px;
  height: 572px;
}

.images-devices {
  width: 812px;
  height: 475px;
}
.logo-brands > ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.logo-brands {
  width: 1110px;
}

footer {
  width: 1440px;
  height: 150px;
}

footer > div {
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

footer div:nth-child(2) {
  width: 540px;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 160px;
}
