body {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.bg-main-image {
  background-image: url("/starter-code/images/bg-header-desktop.png");
  width: 1439px;
  height: 363px;
  margin: auto;
  background-repeat: no-repeat;
}

.rectangle {
  width: 227px;
  height: 56px;
}

.heading > ul {
  display: flex;
  max-width: 470px;
  margin: auto;
}

header {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.keep_track div {
  display: flex;
  margin-right: auto;
}

.image-computer {
  width: 752px;
  height: 572px;
}

.logo-brands > ul {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.logo-brands {
  width: 1110px;
}

footer {
  width: 1440px;
  height: 150px;
}

footer > div {
  width: 1440px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
